/* body {
	background: rgb(207, 250, 250) !important;
} */
a:hover {
	text-decoration: none !important;
}
.card {
	width: 100% !important;
	height: 370px !important;
	display: flex;
	padding: 0 !important;
	box-shadow: 1px 1px 9px 1px #888;
}
.card1 {
	/* background-image: url(bg7.jpg); */
	background-size: cover;
}
.card1-h1 {
	color: #f4eeff;
	font-weight: bolder;
}
.card2 {
	background: linear-gradient(to right, #108dc7, #ef8e38);
	height: 230px !important;
	border: none;
	border-radius: 8px;
}
.img1 {
	width: 120px;
	height: 100px;
}
.card1-img1 {
	width: 170px;
	height: 140px;
	display: block;
}
.items-icon1 {
	margin-left: auto;
}
h5 {
	font-family: sans-serif;
	font-weight: 900 !important;
	color: darkblue;
}
.inCard {
	color: rgb(40, 40, 192);
	font-size: 20px;
}
h4 {
	font-weight: 900 !important;
	font-size: 48px;
}
.text-success {
	font-weight: lighter !important;
	font-size: 44px;
}
.root {
	margin: 30px 0px 20px 550px;
}
.card1-name {
	color: #000;
}
.description {
	color: rgb(255, 255, 255);
	font-family: fantasy;
	font-style: italic;
	/* font-weight: bold; */
}
.description:hover {
	color: rgb(195, 209, 190);
}
.karte {
	border: 0px solid black;
	transition: ease-in-out .6s all;
}
.karte:hover {
	transform: scale(1.041);
	transition: ease-in-out .6s all;
}
