.out-link {
	margin: 150px 0px 0px 0px;
}
.outDiv {
	margin-top: 70px;
}
li {
	list-style-type: none;
}
.out-link li a {
	color: gray;
	display: flex;
	flex-wrap: nowrap;
	letter-spacing: 1px;
	font-size: 18px;
}
.out-link li a:hover {
	text-decoration: none;
	color: rgb(96, 221, 221);
	cursor: pointer;
}
.h4 {
	margin-left: 40px;
	padding-top: 70px;
	padding-bottom: 15px;
	font-weight: 700 !important;
	color: rgb(85, 88, 88);
}
ul {
	padding-bottom: 50px;
}
