.navi {

	background: linear-gradient(279deg,
			#F5B836 0%,
			#F5B836 51%,
			#374F24 100%);

	width: 100%;
}

.link {
	color: #f5b63d;
	text-shadow: black 0 1px 2px;
	font-weight: 700;
	font-size: 20px;
	margin-left: 20px;
	transition: all ease 1s;
}

.link:hover {
	transform: scale(1.3, 1.3);
	transition: all ease 1s;
	color: black;
	text-decoration: underline;
}

.d-link {
	color: black;
}

.d-link:hover {
	color: black;

}