.navi {

	background: #dcd6f7 !important;
	
	width: 100%;
}

.link {
	color: #424874 !important;
	font-variant: small-caps;
	font-weight: 700;
	font-size: 20px;
	padding: 0 10px;
	
	transition:  all ease 1s;
	display: inline-block;
	border-right: 1px solid black;
	display: flex;
	flex-direction: row;
	width: 150px;
}
.link:nth-child(1){
	border-left: 1px solid black;
}
.link:nth-child(5){
	border-right: none ;
}
.link:nth-child(5){
	width: 200px;
}
h6{
	display: none;
	transition: all ease-in-out .4s;
}

.link:hover {
	padding: 0 10px;
	transition: all ease .4s;
	color: #a6b1e1 !important;
	
}
.link:hover h6{
	transition: all ease-in-out .9s;
	padding: 0;
	margin: 0;
	display: block;
	color: yellow;
}

.d-link {
	color: black;
}

.d-link:hover {
	color: black;

}