.navi {

	background: #dddddd !important;
	
	width: 100%;
}

.link {
	color: black !important;
	font-variant: small-caps;
	font-weight: 700;
	font-size: 20px;
	padding: 0 10px;
	
	transition:  all ease 1s;
	display: inline-block;
	border-right: 1px solid black;
	display: flex;
	flex-direction: row;
	width: 150px;
}
.link:nth-child(1){
	border-left: 1px solid black;
}
.link:nth-child(4){
	border-right: none ;
}
h6{
	display: none;
	transition: all ease-in-out .4s;
}

.link:hover {
	padding: 0 10px;
	transition: all ease .4s;
	color: greenyellow !important;
	text-shadow: black 1px 1px 15px;
}
.link:hover h6{
	transition: all ease-in-out .9s;
	padding: 0;
	margin: 0;
	display: block;
	color: yellow;
}

.d-link {
	color: black;
}

.d-link:hover {
	color: black;

}