*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    transform: translate3d(0px, 0px, 0px);
    transition: all 700ms ease;
}
.fRow{
    background-color: rgba(154, 153, 153, 0.099);
    height: 90vh;
    padding-top: 100px;
    
}
.announce-voice{
    background-color: whitesmoke;
}
.announce-detail{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  
}
.announce-detail .img {
    padding: 0px 0;
    background: url("https://uploads-ssl.webflow.com/5bcb5ee81fb2091a2ec550c7/5c74932ba272b1537a7f2334_support-notes-colour.svg") center center/contain no-repeat;
    background-position: center;
    background-size: contain;
    height: 500px;
    width: 500px ;
    
}
.details-h1{
    font-size: 60px;
    font-weight: 700;
    color: #424874;
}
.details-p{
    font-size: 30px;
    font-weight: 300;
    color: #303960;
    padding-bottom: 24px;
}
.announce-detail .img3{
    background: url("https://cdn.pixabay.com/photo/2019/08/05/15/18/not-good-4386247_960_720.png") center center/contain no-repeat;
    
}
.details a {
    color: #dcd6f7;
    background-color: #424874;
    padding: 3% 12%;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    transition: ease-in-out 1s all;
}
.details a:hover {
    color: #424874;
    background-color: #dcd6f7;
    padding: 3% 20%;
    transition: ease-in-out 1s all;
    border-radius: 20px;
    transform: translateX(-50%);
}


.sRow {
    margin-top: 200px;
    background-color: #f4eeff;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
}
.no{
    color: red;
}
.yes{
    color: rgb(255, 183, 0);
    
}
.details2-h1{
    width: 400px;
    text-align: center;
    font-weight: bold;
}
.first-sec{
    display: flex;
    justify-content: space-around;
    
}
.online-box{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 250px 0 0 0 ;
    margin: 0 200px;
    max-width: 100vw;
   
}

.online-img{
    margin-top: 125px;
    background: url("./assets/image_processing20200519-32360-1f6c8v7.gif") ;
    width: 800px;
    height: 350px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 200px;
}
.online-h{
    
    color: #424874;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    text-transform: uppercase;
}
.Caro-parent{
height: 50vh;
width: 100vw;
display: flex;
justify-content: center;
position: absolute;
}
.Carousel{
    position: relative;
    
    width: 100%;
padding-top:24px;
height:500px;

}

.carousel-inner > .item > img {
width:640px;
height:360px;
}

img {
max-width: 100%;
width: auto   9;
height: auto;
vertical-align: middle;
border: 0;

}

.proccess{
padding-top: 100px;
text-align: center;
font-weight: 900;
text-decoration: underline;
color: #303960;
}
.Carousel h3{
color: rgba(172, 15, 15, 0.646) ;
position: absolute;
font-size: 22px;
font-weight: 700;
}

